<apex:component controller="HRP_OnboardingController">
	<apex:stylesheet value="{!URLFOR($Resource.HRPResources, '/slick/slick.css')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.HRPResources, '/slick/slick-theme.css')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.HRPResources, '/slick/custom-slider.css')}"/>
	<style type="text/css">
		@media (min-width:320px) {
			.center h4 {
				line-height: 64px;
			}
		}
		@media (min-width:480px) {
			.center h4 {
				line-height: 64px;
			}
		}
		@media (min-width:768px) {
			.center h4 {
				line-height: 70px;
			}
		}
		@media (min-width:992px) {
			.center h4 {
				line-height: 70px;
			}
		}
		@media (min-width:1200px) {
			.center h4 {
				line-height: 76px;
			}
		}
	</style>

	<div class="onboarding-container" id="onboardingCmpContainer" />

	<apex:includeScript value="{!URLFOR($Resource.HRPResources, '/slick/slick.min.js')}"/>
	<apex:includeScript value="{!$Resource.HRP_OnboardingJS}"/> 
	<script type="text/javascript">
		// initialize Backone setup
    	var remotingErrorMsg = '{!$Label.Remoting_Error_Message}';
    	var Onboarding = HRP_Onboarding($j, '{!$RemoteAction.HRP_OnboardingController.getOnboardingContent}', remotingErrorMsg);

    	// initialize Backbone resources
    	var Onboarding_Collection = Onboarding.getCollection();
    	var Onboarding_View = Onboarding.getView();

    	// init collection to fetch the data from backend
    	var onboardingCmpCollection = new Onboarding_Collection();

		$j(document).ready(function() {
			// Initialize slider View
	    	var onboardingCmpView = new Onboarding_View({
	    		el: '#onboardingCmpContainer',
	    		collection: onboardingCmpCollection
	    	});
		});
	</script>
	<script type="text/template" id="onboarding-template">
		<% if(onboardingContent && onboardingContent.length > 0 
			&& onboardingContent[0].articles && onboardingContent[0].articles.length > 0) { %>
			<% var article = onboardingContent[0].articles[0]; %>
			<div class="panel nbr">
				<div class="panel-heading">
					<div class="slider center" id="onboardingCarousel">
						<div>
							<h4>{!$Label.HRP_Overview}</h4>
						</div>			
						<div>
							<h4>{!$Label.HRP_Day_1}</h4>
						</div>
						<div>
							<h4>{!$Label.HRP_Week_1}</h4>
						</div>
						<div>
							<h4>{!$Label.HRP_Month_1}</h4>
						</div>
						<div>
							<h4>{!$Label.HRP_Month_3}</h4>
						</div>
					</div>
					<span class="glyphicon glyphicon-triangle-bottom slide-bottom" aria-hidden="true"/>
				</div>
				<div class="panel-body" style="background-color: #fff; border-radius: 0px;">
					<ul class="client-text">
						<li class="">
							<% if(article.Overview__c) { %>
								<div class="pvm"><%= article.Overview__c %></div>
							<% } else { %>
								<div class="pvm"><em>{!$Label.HRP_No_Content}</em></div>
							<% } %>
						</li>
						<li class="hidden">
							<% if(article.Day_1__c) { %>
								<div class="pvm"><%= article.Day_1__c %></div>
							<% } else { %>
								<div class="pvm"><em>{!$Label.HRP_No_Content}</em></div>
							<% } %>
						</li>
						<li class="hidden">
							<% if(article.Week_1__c) { %>
								<div class="pvm"><%= article.Week_1__c %></div>
							<% } else { %>
								<div class="pvm"><em>{!$Label.HRP_No_Content}</em></div>
							<% } %>
						</li>
						<li class="hidden">
							<% if(article.Month_1__c) { %>
								<div class="pvm"><%= article.Month_1__c %></div>
							<% } else { %>
								<div class="pvm"><em>{!$Label.HRP_No_Content}</em></div>
							<% } %>
						</li>
						<li class="hidden">
							<% if(article.Month_3__c) { %>
								<div class="pvm"><%= article.Month_3__c %></div>
							<% } else { %>
								<div class="pvm"><em>{!$Label.HRP_No_Content}</em></div>
							<% } %>
						</li>
				    </ul>
				</div>
			</div>
		<% } %>
	</script>
</apex:component>